@model List<WebBanHang.Models.DanhMucSanPham>
<aside>
    <div class="header-title">
        <h3> Danh muc </h3>
    </div>
    <div class="Danh mục">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.TenDanhMuc, "Index",new { danhMuc = item.MaDanhMuc})
                </li>
            }
        </ul>
    </div>
    <div class="filter">
        <ul class="filter-list"></ul>
    </div>
</aside>
