body {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 320px auto 300px;
    grid-template-columns: 1fr;
    background-color: #fff;
}
.link-row a{
    color:black;
}
.header{
    padding-left:80px;
}
.content{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto auto;
    width:90vw;
    margin:auto;
    border:solid #d5cdcd 1px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    grid-gap:10px;
    border-radius:5px;
}

.anhSP {
    border: solid 1px #d5cdcd;
}

.description {
    border: solid #d5cdcd 1px;
    border-radius:5px;
    grid-column:1/span2;

}