* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-size:16px;
}

a:link, a:visited {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

body {
    display: grid;
    grid-template-rows: 320px auto 300px;
}



main {
    background-color: #fed6d6;
}

    main .work {
        background-color: #c30075;
        height: 300px;
        display: grid;
        grid-template-columns: 1fr;
    }

        main .work .right .big-image {
            position: absolute;
            width: 300px;
            height: 300px;
            margin-top: -200px;
            margin-left: 50px;
            border-radius: 10px;
            transform: perspective( 600px ) rotateY( -30deg );
        }

        main .work .slide #myCarousel {
            height: 300px;
            margin-top:-20px;
        }

            main .work .slide #myCarousel .item img {
                width: 300px;
                height: 300px;
                margin: 0 auto;
            }

            main .work .slide #myCarousel .active img {
            }


.catalogue {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 22rem;
    max-width: 960px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #fed6d6;
    border: 1px solid #513c07;
    border-radius: 10px;
    box-shadow: rgba(145,54,109,0.5) 4px 4px 10px;
}

    .catalogue .catalogue-label {
        position: absolute;
        margin-top: -11.5rem;
        width: 200px;
        height: 3rem;
        border-radius: 5px;
        background-color: #f2e7cb;
        color: #513c07;
        font-size: 1.5rem;
        font-style: italic;
        text-transform: capitalize;
        font-weight: bolder;
        text-align: center;
        padding-top: 0.5rem;
        box-shadow: rgba(145,54,109,0.5) 4px 0px 3px;
        font-family: 'Caveat', cursive;
    }

    .catalogue .catalogue-spotlight {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .catalogue .catalogue-spotlight ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 30px;
            margin-top: 30px;
        }

            .catalogue .catalogue-spotlight ul .sanpham {
                margin-top: 30px;
                margin-right: 20px;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
            }

                .catalogue .catalogue-spotlight ul .sanpham .sanpham-image {
                    width: 150px;
                    height: 150px;
                }

                .catalogue .catalogue-spotlight ul .sanpham .sanpham-name {
                    font-size: 1.2rem;
                    margin-top: 10px;
                    text-align: center;
                    color: #513c07;
                }


    