<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Shared/Admin.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("Aside_Admin")
    <main>
        @RenderBody()
    </main>
    <script src="~/Scripts/ckeditor.js"></script>
    <script>
        var myTextField = document.getElementById('MoTaSanPham');
        ClassicEditor
            .create(myTextField)
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
</body>
</html>
