<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Varela+Round&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Shared/Index.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Navbar")
    @RenderBody()
    @Html.Partial("footer")
</body>
</html>
