<aside>
    <div class="header">
        <h3>@ViewBag.RestaurantName</h3>
    </div>
    <ul>
        <li><a href="/SanPhams">Mặt hàng</a></li>
        <li><a href="/HoaDons">Hóa đơn</a></li>
        <li><a href="/CuaHangs/Details">Thông tin</a></li>
        <li><a href="/DangNhap/logout">Đăng xuất</a></li>
    </ul>
</aside>
