<aside>
    <div class="header">
        <h3>Cửa hàng hoa</h3>
    </div>
    <ul>
        <li><a href="/SanPhams">Mặt hàng</a></li>
        <li><a href="/DanhMucSanPhams">Danh mục</a></li>
        <li><a href="/TinNhans">Bài viết</a></li>
        <li><a href="/AnhSanPhams">Hình ảnh</a></li>
        <li><a href="/HoaDons">Hóa đơn</a></li>
    </ul>
    <div class="bottom">
        <form action="/DangNhap/logout" method="get">
            <button type="submit" class="btn btn-primary"> Đăng xuất </button>
        </form>
    </div>
</aside>
