<footer>
    <div class="footer-left">
        <div class="info-wrap">
            <h4>Thông tin liên hệ</h4>
            <label>Địa chỉ: 195 Trần cung </label>
            <label>Số điện thoại: 0123456789 </label>
            <label>Email: dangminhbk@gmail.com </label>
        </div>
    </div>
    <div class="footer-right">
        <ul class="link-wrap">
            <li> <a href="#">Trang chủ</a></li>
            <li> <a href="#">Trang chủ</a></li>
            <li> <a href="#">Trang chủ</a></li>
            <li> <a href="#">Trang chủ</a></li>

        </ul>
        <ul class="contact-wrap">
            <li> <a href="#">Trang chủ</a></li>
            <li> <a href="#">Trang chủ</a></li>
            <li> <a href="#">Trang chủ</a></li>
            <li> <a href="#">Trang chủ</a></li>
        </ul>
    </div>
</footer>
