<nav>
    <div class="menu">
        <ul class="menu-list">
            <li class="active"><a href="#">Trang chủ</a></li>
            <li><a href="#">Cửa hàng</a></li>
            <li><a href="#">Bài viết</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
    </div>
    <div class="logo"></div>
</nav>
