<nav>
    <div class="menu">
        <ul class="menu-list">
            <li>@Html.ActionLink("Trang chủ", "Index", "TrangChu")</li>
            @*<li>@Html.ActionLink("Cửa hàng", "Index", "CuaHang")</li>*@
            <li>@Html.ActionLink("Giỏ hàng", "Index", "Cart")</li>
            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
        </ul>
    </div>
    <span class="nav-button">
        <i class="fas fa-bars fa-3x"></i>
    </span>
    <div class="logo"></div>
    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Tìm bất cứ thứ gì bạn muốn!">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</nav>
<style>
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
    width: 100%;
    margin-left: 0px;
    border: 3px solid darkgray;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #0000;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 55%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
