<nav>
    <div class="menu">
        <ul class="menu-list">
            <li>@Html.ActionLink("Trang chủ", "Index", "TrangChu")</li>
            <li>@Html.ActionLink("Cửa hàng", "Index", "CuaHang")</li>
            <li>@Html.ActionLink("Giỏ hàng", "Index", "Cart")</li>
            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
        </ul>
    </div>
    <span class="nav-button">
        <i class="fas fa-bars fa-3x"></i>
    </span>
    <div class="logo"></div>
</nav>
