
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Đăng nhập thành công</h2>
<h3>Xin chào Admin</h3>

<div class="menu">
    <ul>
        <li>
            <a class="menu-item" href="/SanPhams/Index">
                <i class="fas fa-shopping-cart fa-4x"></i>
                <h3>Số sản phẩm: @ViewBag.TongSoSanPham</h3>
            </a>
        </li>
        <li>
            <a class="menu-item" href="/HoaDons/Index">
                <i class="fas fa-chart-line fa-4x"></i>
                <h3>Số hóa đơn: @ViewBag.TongSoHoaDon</h3>
            </a>
        </li>
        <li>
            <a class="menu-item" href="/DanhMucs/Index">
                <i class="fas fa-table fa-4x"></i>
                <h3>Danh Mục</h3>
            </a>
        </li>
        <li>
            <a class="menu-item" href="/DanhMucs/Index">
                <i class="fas fa-table fa-4x"></i>
                <h3>Danh Mục</h3>
            </a>
        </li>
        <li>
            <a class="menu-item" href="/DanhMucs/Index">
                <i class="fas fa-table fa-4x"></i>
                <h3>Danh Mục</h3>
            </a>
        </li>
        <li>
            <a class="menu-item" href="/DanhMucs/Index">
                <i class="fas fa-table fa-4x"></i>
                <h3>Danh Mục</h3>
            </a>
        </li>
    </ul>
</div>

