* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
}

body {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 320px auto 300px;
    grid-template-columns: 200px auto;
    background-color: #fff;

}

nav {
    grid-column: 1/ span 2;
    grid-row: 1;
}
main {
    color: black;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr;
}

    main .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        main .main-header .main-header-title{
            font-size:3rem;
            text-transform:uppercase;
        }
        main .main-list {
            grid-gap: 10px;
            padding-left: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            list-style: none;
            text-align:center;
        }

        main .main-list .sanpham {
            display: flex;
            flex-direction: column;
            align-items: center;
            color:black;
        }

            main .main-list .sanpham .
            {
                width: 150px;
                height: 150px;
                margin-bottom: 20px;
                transition: all .5s;
            }

                main .main-list .sanpham .image-wrap .giohang-icon {
                    width: 40px;
                    height: 30px;
                    background-image: url('/Image/icon/giohang.png');
                    background-color: rgba(0,0,0,0.2);
                    background-size: contain;
                    position: absolute;
                    margin-left: 30px;
                    margin-top: -60px;
                }

                main .main-list .sanpham .image-wrap .view-icon {
                    width: 40px;
                    height: 30px;
                    background-image: url('/Image/icon/giohang.png');
                    background-color: rgba(0,0,0,0.2);
                    background-size: contain;
                    position: absolute;
                    margin-left: 75px;
                    margin-top: -60px;
                }

                main .main-list .sanpham .image-wrap .hidden-icon {
                    display: none;
                }

            main .main-list .sanpham:hover .sanpham-image {
                transform: scale(1.02);
            }
            main .main-list .sanpham .sanpham-image {
                width: 90%;
                height: 90%;
                transition: all .5s;
            }
            main .main-list .sanpham .sanpham-name {
                color: black;
            }
            main .main-list .sanpham .sanpham-price {
                color: #e80b20;
                font-weight:bold;
            }
                main .main-list .sanpham:hover .sanpham-image + .hidden-icon + .hidden-icon {
                    display: block;
                }

            main .main-list .sanpham:hover .sanpham-image + .hidden-icon {
                display: block;
            }

    main .main-footer .footer-page {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        main .main-footer .footer-page a {
            margin-left: 20px;
            margin-right: 20px;
        }

        main .main-footer .footer-page .page-num {
            display: flex;
            justify-content: space-around;
        }

aside {
    grid-row: 2;
    grid-column: 1;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    box-shadow: 1px 2px 5px;
    z-index: 2;
    height: 650px;
}

    aside .header-title {
        background-color: #28a745;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;
    }

        aside .header-title h3 {
            text-align: center;
            font-size: 2rem;
            color: white;
            margin-top: 1rem;
        }

    aside .danhmuc ul {
        margin: 0;
        width: 200px;
        list-style: none;
        padding-left: 0;
    }

        aside .danhmuc ul li {
            padding: 5px 10px 5px 40px;
        }

            aside .danhmuc ul li:hover {
                background-color: rgba(0,0,0,0.4);
                color: #c30076;
            }

    aside .danhmuc a {
        text-transform: uppercase;
        color: white;
    }

        aside .danhmuc a:hover {
        }

footer {
    grid-row: 3;
    grid-column: 1/ span 2;
    border-top: solid 2px white;
    background-color: #4d052d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
}

    footer .footer-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        footer .footer-left .info-wrap {
            display: flex;
            flex-direction: column;
            color: white;
            font-size: 1.4rem;
        }

    footer .footer-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        footer .footer-right ul {
            margin-right: 30px;
            list-style: none;
            font-size: 1.4rem;
            color: white;
        }

            footer .footer-right ul li a {
                color: white;
                text-decoration: none;
            }
