
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<link href="~/Content/DangNhap/dangnhap.css" rel="stylesheet" />
<div class="login">
    <form action="/DangNhap/Login" method="post">
        <label class="message">@ViewBag.text</label>
        <label>Username</label>
        <input type="text" name="username" value="" />
        <label>Password</label>
        <input type="password" name="password" value="" />
        <div class="btn-summit-wrap">
            <input class="btn-summit" type="submit" name="name" value="Đăng nhập" />
        </div>
    </form>
</div>

