
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}
    <link href="~/Content/DanhMuc/index.css" rel="stylesheet" />
    @Html.Action("AsidePartial")
    <main>
    @Html.Action("DanhSach","DanhMuc",new { searchString = "All"})
        @*<div class="main-header">
            <div class="main-header-title">
                Danh sách sản phẩm
            </div>
        </div>
        <ul class="main-list">
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price">20000 ₫</label>
            </li>
        </ul>*@
        <div class="main-footer">
            <div class="footer-page">
                <a href="#">
                    <i class="material-icons">
                        keyboard_arrow_left
                    </i>
                </a>
                <div class="page-num">
                    <div class="current-page"> 2</div>
                    <p>/</p>
                    <div class="total-page"> 10</div>

                </div>
                <a href="#">
                    <i class="material-icons">
                        keyboard_arrow_right
                    </i>
                </a>
            </div>
        </div>
    </main>
