
@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Varela+Round&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DanhMuc/index.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("Navbar")
    <aside>
        <div class="header-title">
            <h3> Danh muc </h3>
        </div>
        <div class="danhmuc">
            <ul>
                <li>
                    <a href="#">Hoa trang tri</a>
                </li>
                <li>
                    <a href="#">Hoa cuoi</a>
                </li>
                <li>
                    <a href="#">Hoa dam ma</a>
                </li>
            </ul>
        </div>
        <div class="filter">
            <ul class="filter-list">
                <li></li>
            </ul>
        </div>
    </aside>
    <main>
        <div class="main-header">
            <div class="main-header-title">
                Danh sách sản phẩm
            </div>
        </div>
        <ul class="main-list">
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price hidden-icon">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price hidden-icon">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price hidden-icon">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price hidden-icon">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price hidden-icon">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price hidden-icon">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price hidden-icon">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price hidden-icon">20000 ₫</label>
            </li>
            <li class="sanpham">
                <div class="image-wrap">
                    <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    <span class="giohang-icon hidden-icon">
                    </span>
                    <span class="view-icon hidden-icon">
                    </span>
                </div>
                <label class="sanpham-name">Hoa speedwell </label>
                <label class="sanpham-price hidden-icon">20000 ₫</label>
            </li>
        </ul>
        <div class="main-footer">
            <div class="footer-page">
                <a href="#">
                    <i class="material-icons">
                        keyboard_arrow_left
                    </i>
                </a>
                <div class="page-num">
                    <div class="current-page"> 2</div>
                    <p>/</p>
                    <div class="total-page"> 10</div>

                </div>
                <a href="#">
                    <i class="material-icons">
                        keyboard_arrow_right
                    </i>
                </a>
            </div>
        </div>
    </main>
    @Html.Partial("Footer")
</body>
</html>
