
@{
    ViewBag.Title = "CuaHang";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@Html.Action("AsidePartial", "CuaHang")
<div id="react-view">

</div>
@section CSS{
    <link href="~/Content/DanhMuc/index.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Scripts/react/react.production.min.js"></script>
    <script src="~/Scripts/react/react-dom.production.min.js"></script>
    <script src="~/View_react/ItemSanPham.jsx"></script>
    <script src="~/View_react/pagination.jsx"></script>
    <script src="~/View_react/Main.jsx"></script>
}
