
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<main>
    <a href="#" class="catalogue">
        <div class="catalogue-label"> Đồ nóng</div>
        <div class="catalogue-spotlight">
            <ul class="catalogue-spotlight-ul">
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/mon1.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Bánh xèo </label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/mon2.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Cơm rang</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/mon3.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Pizza</label>
                </li>
            </ul>
        </div>
    </a>
    <a href="#" class="catalogue">
        <div class="catalogue-label"> Tráng miệng</div>
        <div class="catalogue-spotlight">
            <ul class="catalogue-spotlight-ul">
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/mon1.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Bánh xèo </label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/mon2.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Cơm rang</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/mon3.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Pizza</label>
                </li>
            </ul>
        </div>
    </a>
    <a href="#" class="catalogue">
        <div class="catalogue-label"> Đồ uông</div>
        <div class="catalogue-spotlight">
            <ul class="catalogue-spotlight-ul">
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/mon1.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Bánh xèo </label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/mon2.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Cơm rang</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/mon3.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Pizza</label>
                </li>
            </ul>
        </div>
    </a>
</main>
@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}
@section CSS{
    <link href="~/Content/Home/index.css" rel="stylesheet" />
}

