
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<main>
    <a href="#" class="catalogue">
        <div class="catalogue-label">Cơm</div>
        <div class="catalogue-spotlight">
            <ul class="catalogue-spotlight-ul">
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/Com/CanhGaNhoiLaThacLac.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Cánh gà nhồi lá thác lác</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/Com/ComChienDuaHaiSan.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Cơm chiên dưa hải sản</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/Com/ComGaXaoLaQue.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Cơm gà xào lá quế</label>
                </li>
            </ul>
        </div>
    </a>
    <a href="#" class="catalogue">
        <div class="catalogue-label">Đồ uống</div>
        <div class="catalogue-spotlight">
            <ul class="catalogue-spotlight-ul">
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/DoUong/MatchaCream.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">match Cream</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/DoUong/MatchaMilkTea.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Match Milk Tea</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/DoUong/TraDen.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Trà đen</label>
                </li>
            </ul>
        </div>
    </a>
    <a href="#" class="catalogue">
        <div class="catalogue-label">Thức ăn đường phố</div>
        <div class="catalogue-spotlight">
            <ul class="catalogue-spotlight-ul">
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/MonAnDuongPho/ChaTomSotXiMuoi.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Chả tôm xốt xí muội</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/MonAnDuongPho/MucChienTrungMuoi.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Mực chiên trứng muối</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/MonAnDuongPho/ChaTomSotXiMuoi.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Cơm ngon</label>
                </li>
            </ul>
        </div>
    </a>
</main>
@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}
@section CSS{
    <link href="~/Content/Home/index.css" rel="stylesheet" />
}

