
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<main>
    <a href="#" class="catalogue">
        <div class="catalogue-label"> Hoa cưới</div>
        <div class="catalogue-spotlight">
            <ul class="catalogue-spotlight-ul">
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Hoa speedwell </label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/sunflower.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Hoa huong duong</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/tulips.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Hoa huong duong</label>
                </li>
            </ul>
        </div>
    </a>
    <a href="#" class="catalogue">
        <div class="catalogue-label"> Hoa sinh nhật</div>
        <div class="catalogue-spotlight">
            <ul class="catalogue-spotlight-ul">
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Hoa speedwell </label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/sunflower.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Hoa huong duong</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/tulips.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Hoa huong duong</label>
                </li>
            </ul>
        </div>
    </a>
    <a href="#" class="catalogue">
        <div class="catalogue-label"> Điện hoa</div>
        <div class="catalogue-spotlight">
            <ul class="catalogue-spotlight-ul">
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Hoa speedwell </label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/sunflower.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Hoa huong duong</label>
                </li>
                <li class="sanpham">
                    <div class="image-wrap">
                        <img class="sanpham-image" src="~/Image/tulips.jpg" alt="Alternate Text" />
                    </div>
                    <label class="sanpham-name">Hoa huong duong</label>
                </li>
            </ul>
        </div>
    </a>
</main>
@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}
@section CSS{
    <link href="~/Content/Home/index.css" rel="stylesheet" />
}

