.form-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

    .form-wrap form {
        width: 40vw;
        display: grid;
        grid-template-rows: 40px auto auto auto auto;
        grid-gap: 5px;
    }
